body 
{ 
margin: 1em 2em; 
}


.tinymc {
  display:inline-block;
  vertical-align: top;
  margin: 0 2em 2em 0;
}

.header {
  margin: 0 0 2em 0;
}


.btn {
  margin: 0.5em 0 0.5em 0;
}

.metadata {
  display: inline-block;
}

.metadata img {
  margin: 0 0 1em 0;
}

.paneContent
{
}
